<div class="page login-page">
  <div class="container">
      <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner">
              <img src="assets/img/logo-rgb.png" width="250px" height="250px" />
              <div class="logo text-uppercase"><strong class="text-primary">Safe Easy Travel</strong></div>
              <p>
                  “Viaje seguro, confiable y en condiciones”
              </p>
              <form class="text-left form-validate">
                  <div class="form-group-material">
                      <input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                      <label for="login-username" class="label-material">Usuario</label>
                  </div>
                  <div class="form-group-material">
                      <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                      <label for="login-password" class="label-material">Contraseña</label>
                  </div>
                  <div class="form-group text-center">
                      <a id="login" href="index.html" class="btn btn-primary">Login</a>
                      <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </div>
              </form><a href="#" class="forgot-pass">¿Olvidaste la contraseña?</a>
          </div>
          <div class="copyrights text-center">
              <p>Diseñado por <a href="#" class="external">CodeLineSoft</a></p>
          </div>
      </div>
  </div>
</div>